.page-top.animated.fadeInDown
  .nav
    li
      a(href="/")= __('Home')	
    li
      if is_current('FAQ')
        a.current(href="/faq")= __('FAQ')			
      else
        a(href="/faq")= __('FAQ')
    li
      if is_current('Email')
        a.current(href="/links")= __('Email')					
      else
        a(href="mailto:hi@TechFusionFM.com")= __('Email')	
    li
      if is_current('Donate')
        a.current(href="/donate")= __('Donate')					
      else
        a(href="/donate")= __('Donate')	
