mixin make_post(item, index, is_detail)
	.post.animated.fadeInDown
		.post-title
			h3
				if index
					-var episodeNum = "#" + index + ": "
				if !index
					-var episodeNum = ""
				if is_detail
					a= episodeNum + item.title
				else
					a(href= url_for(item.path))=  episodeNum + item.title
		if page.media_type == "audio/mpeg"
			br
			audio(controls='', class="audioPlayer" , preload="none" src="/" + page.media, type='audio/mpeg')
		if is_detail
			.post-content!= item.content
		else
			.post-content
				p= strip_html(item.subtitle)
		.post-footer: .meta
			.info
				i.fa.fa-calendar
				span.date= date(item.date, episodeNum +'YYYY 年 MM 月 DD 日')


mixin make_pager()
	- var prev = page.prev_link
	- var next = page.next_link
	.pagination
		ul.clearfix
			if page.prev
				li.pre.pagbuttons
					a.btn(role="navigation",href=url_for(prev))= __('prev')
			if page.next
				li.next.pagbuttons
					a.btn(role="navigation",href=url_for(next))= __('next')

mixin postList()
	.archive
		- var year = 0;
		- var change = false;
		- var firstYear = true;
		- page.posts.each(function (item) {
			- var itemYear = date(item.date, 'YYYY') - 0;
			- change = year !== itemYear;
			- year = change ? itemYear : year;
			if change
				if firstYear
					| <div class="listing-title">
					!= year
					| </div><ul class="listing">
					- firstYear = false;
				else
					| </ul><div class="listing-title">
					!= year
					| </div><ul class="listing">
			
			.listing-item
				.listing-post
					a(href= url_for(item.path), title= item.title)= item.title
					div.post-time
						span.date= date(item.date, 'MM-DD')
		- })
